@value black, gray-500, gray-700 from '../style/theme.css';
@value space-1, space-2, space-3, space-4 from '../style/theme.css';

.layoutContainer {
  display: grid;
  grid-template:
      "sidebar mainvideo" 684px
      "subvideos subvideos" 151px
      "omnibar omnibar" 63px
    / 383px 1216px;
  grid-gap: 1px;
}

.mainVideo {
  grid-area: mainvideo;
  overflow: hidden;
  background-color: black;
}

.sidebar {
  grid-area: sidebar;
  background-color: black;
}

.subVideos {
  grid-area: subvideos;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.other {
  grid-area: other;
  background-color: black;
}


.omnibar {
  grid-area: omnibar;
}
