@value brand, gray-700 from '../style/theme.css';
@value size-12, space-2, space-3 from '../style/theme.css';

.stream {
  background-color: gray-700;
  height: 100%;
  overflow: hidden;
}

.playerContainer {
  height: 100%;
  width: 100%;
}
