@value white, gray-100, gray-700, gray-760, black from '../../style/theme.css';
@value size-10, size-12, size-14, space-1, space-2, space-3, space-4 from '../../style/theme.css';
@value radius-1, font-mono from '../../style/theme.css';

.row {
  opacity: 0.6;
  line-height: 1.2;

  &.completed {
    opacity: 1;
  }
}

.game {
  color: var(--color);
  flex: 0 0 50%;
  font-size: size-10;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: space-1;
}

.run {
  font-size: size-12;
}

.runTime {
  font-weight: 700;
  font-family: font-mono
}

.runBy {
  font-size: size-10;
}
