@value white, gray-100, gray-700, gray-760, black from '../../style/theme.css';
@value size-16, space-2, space-3, space-4 from '../../style/theme.css';
@value radius-1 from '../../style/theme.css';

.teamCard {
  --color: white;
  width: 100%;
  border: 3px solid var(--color);
  overflow: hidden;
  border-radius: radius-1;
  box-shadow: 0 0 12px black;
  background-color: gray-700;
}

.cardHeader {
  background-color: var(--color);
  color: white;
  font-weight: 600;
  padding-bottom: space-2;
}

.teamName {
  font-size: size-16;
  padding: space-2 space-3;
}

.details {
}


.run {
  border-bottom: 1px solid var(--color);
  padding: space-3;

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(2) {
    background-color: gray-760;
  }
}
